<connectionStrings>
  <!-- configuration data like endpoints, protocol config, relying parties etc... -->
  <!--<add name="IdentityServerConfiguration"
       connectionString="Data Source=|DataDirectory|\IdentityServerConfiguration.sdf"
       providerName="System.Data.SqlServerCe.4.0" />-->

  <add name="IdentityServerConfiguration"
       connectionString="Data Source=(local);User ID=sa;password=Ichthus4587;Initial Catalog=OneLogin;"
       providerName="System.Data.SqlClient" />

  <add name="SqlServer"
       connectionString="Data Source=(local);User ID=sa;password=Ichthus4587;Initial Catalog=OneLogin;"
       providerName="System.Data.SqlClient" />
  
<!--  <add name="SqlCe"-->
<!--       connectionString="Data Source=|DataDirectory|\IdentityServerConfiguration.sdf"-->
<!--       providerName="System.Data.SqlServerCe.4.0" />-->

  <!-- user database (LocalDB) -->

  <add name="ProviderDB"
       connectionString="Data Source=(local);User ID=sa;password=Ichthus4587;Initial Catalog=OneLogin;"
       providerName="System.Data.SqlClient" />

  <!-- user database (SQLCE) -->
  <!--<add name="ProviderDB"
       connectionString="Data Source=|DataDirectory|\IdentityServerUsers.sdf"
       providerName="System.Data.SqlServerCe.4.0" />-->

       <add name="MembershipReboot"
       connectionString="Data Source=(local);User ID=sa;password=Ichthus4587;Initial Catalog=OneLogin;"
       providerName="System.Data.SqlClient" />
  
</connectionStrings>
